 {{>header}}
 <tbody>
  <p style="padding:5px 20px">Dear {{SupplierName}}</p>
 <p style="padding:0px 60px">{{SubjectContent}}</p>
<p style="padding:0px 62px">Purchase Order Number  : {{purchaseordernumber}}</p>
 <table style="background-color:#F9F9F9; margin:0px 10%; width:80%;border-collapse:collapse" border="0" align="left" cellspacing="0" cellpadding="0" >
     <thead>
         <tr style="background-color:#f2f2f2;">
            <th style="border:solid 1px #ccc; padding:6px 15px; width:110px;text-align:left;background-color: #f9f9f9;">S NO</th>
            <th style="border:solid 1px #ccc; padding:6px 15px; width:110px;text-align:left;background-color: #f9f9f9;">Item Name</th>
            <th style="border:solid 1px #ccc; padding:6px 15px; width:110px;text-align:left;background-color: #f9f9f9;">Qty</th> 
         </tr>
     </thead>
<tbody>
{{#each rows}}

    <tr  style="background-color:#f2f2f2;">
         
           <td style="border-right:solid 1px #ccc;border-left: solid 1px #ccc;border-bottom:solid 1px #ccc; padding:6px 15px; width:110px;background-color:#fff;">{{this.productId}}</td>
            <td style="border-right:solid 1px #ccc;border-left: solid 1px #ccc;border-bottom:solid 1px #ccc; padding:6px 15px; width:110px;background-color:#fff;">{{this.productName}}</td>
            <td style="border-right:solid 1px #ccc;border-left: solid 1px #ccc;border-bottom:solid 1px #ccc; padding:6px 15px; width:110px;background-color:#fff;">{{this.newOrderQty}}{{this.unitName}}</td>
             
    </tr>
{{/each}}

</tbody>
</table>
 </tbody>
 {{>footer}}